<VirtualHost *:5000>
        DocumentRoot /vagrant/
        Alias /static /vagrant/users_project/static
        <Directory /vagrant/users_project/static>
                Allow from all
                Require all granted
        </Directory>

        <Directory /vagrant/users_project>
              <Files wsgi.py>
                      Require all granted
              </Files>
        </Directory>

        WSGIDaemonProcess users_project python-path=/vagrant/users_project:/home/vagrant/env/lib/python3.6/site-packages
        WSGIProcessGroup users_project
        WSGIScriptAlias / /vagrant/users_projectt/wsgi.py
</VirtualHost>
